select,
input,
textarea {
  background: #fcfcfc;
  border: 1px solid #aaa;
  color: #4d4d4d;
  font-size: 12px;
  padding: 3px;

  box-shadow: inset rgba(0,0,0,0.1) 0 0 3px 0;
  border-radius: 4px;

}

input[type="submit"] {
  color: #1c1c1c;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;

  padding: 5px;
  background: #ccc;

  border: 1px solid #ccc;
  border-radius: 2px;

  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);

  opacity: .7;
  cursor: pointer;
}

.Button {
  font: bold 11px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #808080;
  text-shadow: #fff 0 1px 0;
  cursor: pointer;

  border: 1px solid #ccc;
  padding: 4px 10px;

  background: linear-gradient(top, #f8f8f9, #e6e6e8);
  text-decoration: none;
}

.ButtonRoundedLeft {
  border-radius: 5px 0 0 5px;
}

.ButtonRoundedRight {
  border-radius: 0px 5px 5px 0px;
}

.ui-icon-gear,
.ui-icon-trash {
  height: 18px!important;
  width: 18px!important;
  background-position: -192px -110px!important;
  display: inline-block!important;
}

.ui-button {
  vertical-align: top;
  width: 98px;
  height: 24px;
}

.ui-widget {
  font-size: 12px !important;
  text-transform: uppercase;
}

#FitnessClassPopupForm {
  display: none;
}

#MessageArea {
  display: none;
}
