<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnectionStringName" value="FitnessPracticeWebApp" />
  </appSettings>

  <connectionStrings>
    <add name="FitnessPracticeWebApp" connectionString="Data Source=PHOU-LAPTOP\SQLEXPRESS; Initial Catalog=FitnessPractice; user id=FitnessPracticeWebUser; password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <system.serviceModel>   
    
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="GymService">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="LocationService">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="StateService">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="FitnessClassService">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="InstructorService">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <!-- JSON -->
        <behavior name="GymServiceBehavior">
          <webHttp helpEnabled="True" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="LocationServiceBehavior">
          <webHttp helpEnabled="True" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="StateServiceBehavior">
          <webHttp helpEnabled="True" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="FitnessClassServiceBehavior">
          <webHttp helpEnabled="True" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="InstructorServiceBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>   
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>
      <service name="VelocityCoders.FitnessPractice.Services.REST.GymService" >
        <endpoint address=""
                  behaviorConfiguration="GymServiceBehavior"
                  binding="webHttpBinding"
                  contract="VelocityCoders.FitnessPractice.Services.ServiceContracts.IGymService" />
      </service>
      <service name="VelocityCoders.FitnessPractice.Services.REST.LocationService" >
        <endpoint address=""
                  behaviorConfiguration="LocationServiceBehavior"
                  binding="webHttpBinding"
                  contract="VelocityCoders.FitnessPractice.Services.ServiceContracts.ILocationService" />
      </service>
      <service name="VelocityCoders.FitnessPractice.Services.REST.StateService" >
        <endpoint address=""
                  behaviorConfiguration="StateServiceBehavior"
                  binding="webHttpBinding"
                  contract="VelocityCoders.FitnessPractice.Services.ServiceContracts.IStateService" />
      </service>
      <service name="VelocityCoders.FitnessPractice.Services.REST.FitnessClassService" >
        <endpoint address=""
                  behaviorConfiguration="FitnessClassServiceBehavior"
                  binding="webHttpBinding"
                  contract="VelocityCoders.FitnessPractice.Services.ServiceContracts.IFitnessClassService" />
      </service>
      <service name="VelocityCoders.FitnessPractice.Services.REST.InstructorService" >
        <endpoint address="" 
                  behaviorConfiguration="InstructorServiceBehavior"
                  binding="webHttpBinding"
                  contract="VelocityCoders.FitnessPractice.Services.ServiceContracts.IInstructorService">
        </endpoint>
      </service>
      
    </services>
    
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"> </modules>
    <directoryBrowse enabled="false"/>    
  </system.webServer>

</configuration>
